<div class="row">
    <div class="col-xs-12 col-sm-2 col-ms-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-ms-2 col-lg-2">
        <p id="nombre">Mazunik Sebastian</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-ms-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Soy un joven de 29 años en búsqueda laboral, me consideró proactivo y responsable, me gusta mucho el trabajo en equipo y los buenos ambientes laborales.
                Con respecto a mi desempeño laboral soy muy eficaz en cuanto a cualquier puesto de trabajo para el que sea designado, tengo una gran adaptabilidad y aprendo rápido con mucha predisposición.
                En cuanto al trato con los clientes la amabilidad y el respeto son siempre las características en las cuales me bazo.
               
            </p>
        </span>
    </div>
</div>