<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       <ul>
           <li>
              <h1>Rincon Magico Jugueteria</h1> - 
              <h3>(2013-2022)</h3>
           </li>
           <p>Encargado, manejo de caja y atencion al publico
            </p>
       </ul>
       <ul>
        <li>
           <h1>Maderera Tierra Roja</h1> - 
           <h3>(2008-2011)</h3>
        </li>
        <p>Repartidor
         </p>
    </ul>
    <ul>
        <li>
           <h1>Heladeria Frigor</h1> - 
           <h3>(Verano 2015-Verano 2016)</h3>
        </li>
        <p>Manejo de caja y atencion al publico
         </p>
    </ul>
    </div>
</div>