<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="../../../assets/login.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">

          <h2 class="fw-bold mb-2 text-uppercase">Iniciar Sesion</h2>
            <p class="text-black-50 mb-4">Ingrese su usuario y contraseña</p>


          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="nombreUsuario" name="nombreUsuario"  class="form-control form-control-lg" [(ngModel)]="nombreUsuario" name="nombreUsuario" required/>
              <label class="form-label" for="nombreUsuario">Usuario</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" name="password" required />
              <label class="form-label" for="password">Contraseña</label>
            </div>

            <!-- 2 column grid layout for inline styling 
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">-->
                <!-- Checkbox 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                  <label class="form-check-label" for="form2Example31"> Recordarme </label>
                </div>
              </div>-->

              <!--<div class="col">
                 Simple link 
                <a href="#!">Olvidaste la contraseña?</a>
              </div>
            </div> -->

            <!-- Submit button -->
            <button class="btn btn-primary btn-block mb-4" type="submit">Iniciar</button>

          </form>
          <div>
            <p class="mb-0">¿No tienes una cuenta? <a href="#!" class="text-white-50 fw-bold">Crear Cuenta</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->