<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/sebamazu/"><img src="../../../assets/instagram.png" alt="instagram"></a>
            <a href="https://www.facebook.com/seba.mazunikk/"><img src="../../../assets/facebook.png" alt="facebook"></a>
            <a href="https://github.com/Sebamazu"><img src="../../../assets/github.png" alt="github"></a>
            <a href="https://www.linkedin.com/in/sebastian-mazunik-135a1124a/"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Iniciar Sesion</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
        </div>
    </div>
</div>
