<div class="row">
    <div class="col-xs-12 col-sm-2 col-ms-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-ms-2 col-lg-2">
        <p id="nombre">Mazunik Sebastian</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-ms-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer urna ipsum, condimentum a fermentum in, pulvinar vel ex. Mauris non condimentum nulla. Sed vel tincidunt dui. In eu ligula a est faucibus eleifend. Fusce sodales urna in aliquam placerat. Maecenas sodales magna at dictum cursus. Praesent vehicula gravida sem, vitae pellentesque turpis dictum sed. Phasellus sit amet erat eget neque venenatis eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus magna sit amet orci aliquam tincidunt.
            </p>
        </span>
    </div>
</div>