<div class="row">
    <div class="col-xs-12 col-sm-2 col-ms-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-ms-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Estudiante de programacion en Argentina Programa</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-ms-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Estudiante de Programacion en busqueda de crecimiento tanto laboral como personal en el area de desarrollo deseando ampliar mis conocimientos y experiencias. Gran facilidad para las relaciones interpersonales y rapido aprendizaje.
            </p>
        </span>
    </div>
</div>