<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress
           [percent]="65"
           [radius]="100"
           titleFontSize="45"
           subtitle="Ingles"
           subtitleFontSize="30"
           unitsFontSize="30"
           subtitleColor="purple"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="900"
       ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            titleFontSize="45"
            subtitleFontSize="30"
            unitsFontSize="30"
            subtitle="Dormir"
            subtitleColor="purple"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="13"
            [radius]="100"
            titleFontSize="45"
            subtitleFontSize="30"
            unitsFontSize="30"
            subtitle="Trabajar"
            subtitleColor="purple"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="2"
            [radius]="100"
            titleFontSize="45"
            subtitleFontSize="30"
            unitsFontSize="30"
            subtitle="Gatos"
            subtitleColor="purple"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            titleFontSize="45"
            subtitleFontSize="30"
            unitsFontSize="30"
            subtitle="Jugacion"
            subtitleColor="purple"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="2"
            [radius]="100"
            titleFontSize="45"
            subtitleFontSize="30"
            unitsFontSize="30"
            subtitle="Perros"
            subtitleColor="purple"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
     </div>
</div>