<div class="row">
    <h1>Poyectos realizados</h1>
    <div class="contenedor">
         <div class="col-sm-12 col-md-7 col-lg-7 parte1">
              <h3>Proyecto 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer urna ipsum, condimentum a fermentum in, pulvinar vel ex. Mauris non condimentum nulla. Sed vel tincidunt dui. In eu ligula a est faucibus eleifend. Fusce sodales urna in aliquam placerat. Maecenas sodales magna at dictum cursus. Praesent vehicula gravida sem, vitae pellentesque turpis dictum sed. Phasellus sit amet erat eget neque venenatis eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus magna sit amet orci aliquam tincidunt.</p>
         </div>
         <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Foto-623.jpg" class="img-fluid img-proyecto">
         </div>
    </div>
</div>