<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       <ul>
           <li>
              <h1>Intituto AES</h1> - 
              <h3>(2012)</h3>
           </li>
           <p>Reparacion y mantenimiento de PC
            </p>
       </ul>
       <ul>
        <li>
           <h1>Intituto AES</h1> - 
           <h3>(2013)</h3>
        </li>
        <p>Instalacion, configuracion y administracion de redes
         </p>
    </ul>
    <ul>
        <li>
           <h1>Marcelo Ramos Escuela de fotografia</h1> - 
           <h3>(2018)</h3>
        </li>
        <p>Fotografia digital
         </p>
    </ul>
    </div>
</div>